<component name="ArtifactManager">
  <artifact type="war" name="spring_v3:war">
    <output-path>$PROJECT_DIR$/spring_v3/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_v3</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_v3-1.0.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_v3:war exploded" />
    </root>
  </artifact>
</component>